<h1>投稿一覧</h1>
<% @lists.each do |list| %>
  <p>タイトル</p>
<span>
    <%= link_to list.title,todolist_path(list.id) %>
    <!--todolist_pathと表示できるのは、routesでget 'todolists/:id' => 'todolists#show', as:'todolist'と設定しているから????-->
</span>
<% end %>