<div class="list-wrap">
<% @lists.each do |list| %>
  <div class="list-box">
    <%= attachment_image_tag list, :image, :fill, 200, 200, format: 'jpeg' %>
    <!--list = 表示する画像の入ったレコード、image = 画像のカラム名、-->
    <div class="list-comment">
      <span class="list-body"><%= list.body %></span>
      <span class="list-title"><%=link_to list.title, todolist_path(list.id) %></span>
      <!--todolist_pathと表示できるのは、routesでget 'todolists/:id' => 'todolists#show', as:'todolist'と設定しているから-->
    </div>
  </div>
<% end %>
</div>
