<h1>新規投稿</h1>
<!-- form_with部分 -->
<%= form_with model: @list, url:'/todolists', local:true do |f| %>
<!--formタグでフォームをデータ送信　＠モデル名, 送るurl:, local:true do |変数を入れる？？|-->
  <h4>タイトル</h4>
  <%= f.text_field :title %>
  <h4>本文</h4>
  <%= f.text_area :body %>
  <%= f.submit '投稿' %>
  <!--「投稿する」ボタンを押すと、POSTメソッドの'/todolists'に送信-->
<% end %>